/* Le media query sono alla fine*/

html {
    font-family: 'Open Sans', sans-serif;
}

.nav {
    background-color: rgb(39, 38, 46);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.nav > * {
    flex-shrink: 1;
}

.nav-search-form-button:hover {
    background-color: green;
    color: white;
}

.nav-title {
    font-size: larger;
    font-weight: bold;
}

.nav-title, .nav-links-home {
    color: white;
}

.nav-links {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links-link, .nav-links-dropdown, .nav-links-button {
    color: rgb(145, 144, 150);
    font-size:medium
}

.nav-links-dropdown, .nav-links-button {
    background-color: transparent;
    border: none;
}

.nav-search-form-box, .nav-search-form-button {
    padding: 9px;
    border-radius: 5px;
}

.nav-search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}

.nav-search-form-box {
    border: 1px solid rgb(127, 123, 141);
    
}

.nav-search-form-button {
    border: 1px solid green;
    color: green;
    background-color: transparent;
}

@media (min-width: 768px) {
    .nav-hamburger-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav > * {
        display: none;
    }

    .nav-title, .nav-hamburger-menu {
        display: unset;
    }

    .icon-menu {
        color: white;
    }
}