body {
  color: lightslategray;
}

blockquote {
  background-color: rgba(0, 12, 24, 0.05);
}

a {
  border: 1px dashed red;
}

em {
  color: darkred;
}

.variant-em {
}

ul {
  background-color: unset;
}

ul li {
  padding: 16px;
}

.link1 a {
}

.link2 a {
}

.link3 a {
}
