body {
  color: lightslategray;
}

blockquote {
  background-color: rgba(0, 12, 24, 0.05);
}

a {
  border: 1px dashed red;
}

em {
  color: rgb(139, 0, 0);
}

.variant-em {
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  font-style: inherit;
}

.content1 p {
  border: 1px solid;
}

ul {
  background-color: unset;
}

ul li {
  padding: 16px;
}

/* 
  Per i link.

  Sbagliato all: ...;

  Sbagliato background-color: ...;
            padding: ...;
*/

.link1 a {
  color: inherit;
  padding: inherit;
}

.link2 a {
  color: initial;
  padding: initial;
}

.link3 a {
  color: unset;
  padding: unset;
}
