$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

.exercise {
    border: 1px solid $color-primary;
    padding: 10px;
    .exercise-title {
        color: $color-tertiary;
        text-decoration: 1px underline $color-secondary;
        text-underline-offset: 8px;
        margin-bottom: 15px;
        text-align: center;
    }
}

.articles-section {
    display: flex;
    .article {
        &_1, &_3 {
            color: $color-secondary;
        }
        &_2, &_4 {
            color: $color-primary;
        }
        &_1, &_2, &_3, &_4 {
            border: 1.5px solid $color-tertiary;
            font-size: small;
            text-align: center;
            padding: 10px;
        }
    }
}
